<div class='nested-feilds'>
  <div class="field">
    <%= order_form.label :item %><br>
    <%= order_form.collection_select(:item_id, Item.all, 'id', 'name') %>
  </div>
  <div class="field">
    <%= order_form.label :quantity %><br>
    <%= order_form.number_field :quantity %>
  </div>
  <div class="field">
    <%= order_form.label :Portions %><br>
    <%= order_form.radio_button :portion,"single" %>
    <%= order_form.label :Single %><br>
  </div>
  <div class="field">
    <%= order_form.radio_button :portion,"double" %>
    <%= order_form.label :Double %><br>
  </div>
  <div class="field">
    <%= order_form.radio_button :portion,"triple" %>
    <%= order_form.label :Triple %><br>
  </div>
  <%#= order_form.label :_destroy, as: :hidden %>
  <%= link_to 'Remove Item', '#', class: 'remove_order_item' %>
</div>
