<%= search_form_for @q, url: :orders do |f| %>
  <%= f.text_field :id_eq, class: 'form-control',:placeholder => "Order id" %>
  <br>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
<%= link_to "Clear Search", request.path, class:"cancel-button" %>

<table class="table caption-top">
  <thead>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <table class="table caption-top">
          <thead>
          <tr class='border'>
          <th class='border' colspan="3"><%= link_to "Order No. #{order.id}",order %></th>
          <th class='border'><%= link_to 'Download', order_path(order, format: :pdf), target: "_blank" %></th>
        </tr>
            <tr class='border'>
              <th scope="col" class='border' style="width: 25%">Item</th>
              <th scope="col" class='border'>Quantity</th>
              <th scope="col" class='border'>Portion</th>
              <th scope="col" class='border'>Total Price</th>
            </tr>
          </thead>
          <tbody>
            <% order.order_items.each do |order_item| %>
              <tr class='border'>
                <td class='border'><%= order_item.item.name %></td>
                <td class='border'><%= order_item.quantity %></td>
                <td class='border'><%= order_item.portion %></td>
                <td class='border'><%= order_item.total_price %></td>
              </tr>
            <% end %>
            <tr class='border'>
            <th colspan='3' class='border'>Grand Total</th>
            <td colspan='2' class='border'><%= order.grand_total %></td>
            </tr>
          </tbody>
        </table>
      </tr>

    <% end %>
  </tbody>
</table>