<table class="table caption-top">
  <thead>
    <tr class='border'>
      <th scope="col" colspan='6'>Items</th>
      <th colspan="1">Actions</th>
    </tr>
  </thead>
  <tbody>
  <tr class='border'>
        <th class='border'><%= @order.id %> </th>
        <th scope="col" class='border'>Items Name</th>
      <th scope="col" class='border'>Portion</th>
      <th scope="col" class='border'>Quantity</th>
      <th scope="col" class='border'>Item Price</th>
      <th scope="col" class='border'>Total Price</th>
        <td scope="col">
          <%= link_to "Edit", edit_order_path(@order) %>
            |
          <%= link_to "Destroy", order_path(@order), data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
          } %>
          |
          <%= link_to 'Orignal Download', order_path(@order, format: :pdf, token: true), target: "_blank" %>
          |
          <%= link_to 'Download', order_path(@order, format: :pdf), target: "_blank" %>
          </td>
      </tr>

    <% @order.order_items.map do  |order_detail| %>
      <tr class='border'>
        <td><%= order_detail.id %></td>
        <td class='border'><%= order_detail.item.name %></td>
        <td class='border'><%= order_detail.portion %></td>
        <td class='border'><%= order_detail.quantity %></td>
        <td class='border'><%= order_detail.item.portions[order_detail.portion] %></td>
        <td class='border' colspan='3' ><%= order_detail.total_price %></td>

      </tr>
    <% end %>
    <tr>
      <th colspan='5' class='border'>Grand Total</th>
      <td colspan='2' class='border'><%= @order.grand_total %></td>
    </tr>
  </tbody>
</table>