<%= form_with model: [ @category, @item ] do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @item.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </p>

  <p>
    <%= form.label :portions %>
    <%= form.fields :portions, model: OpenStruct.new(form.object.portions) do |field| %>
      <%= field.text_field :single %>
      <%= field.text_field :double %>
      <%= field.text_field :triple %>
    <% end %>

    <% @item.errors.full_messages_for(:portions).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </p>
  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div

  <p>
    <%= form.submit %>
  </p>
<% end %>