<div class="card" style="width: 18rem;">
<% @category.items.where.not(id: nil).each do |item| %>
  <%=image_tag item.image if item.image.attached? %>
  <div class="card-body">
    <h5 class="card-title"><%= item.name %></h5>
  </div>

  <% item.portions.each do |_k, v| %>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= v %></li>
    </ul>
  <%end%>

  <div class="card-body">
    <%= link_to "Destroy item", [@category, item], data: {
                                turbo_method: :delete,
                                turbo_confirm: "Are you sure?"
                                } %>
    <%= link_to "Edit", edit_category_item_path(@category, item) %>
  </div>

<% end %>
</div>